# Keys
FirebaseAdminKey.json
www.zip
www.zip.tmp
himitu/

# Javascript/Typescript
node_modules/
package-lock.json
src/

# Python
__pycache__/

# golang
*.elf
*.exe

# server
tmp/
db/

# VScode
.vscode/
