<!DOCTYPE html>
<html lang="ja">
    <meta charset="utf-8">

    <head>
        <title>Ginなお部屋</title>
        <style type="text/css">
            .contents_link{
                border: 2px solid pink;
                background-color:azure;
                color:darkviolet;
                transition: color 5s linear;
                padding : 1px ;
                font-size: 18px;
                line-height: 2;
            }
            .contents_link:hover{
                border: 2px solid darkred;
                font-size: 20px;
            }
            li{list-style: none;}
        </style>
    </head>

    <body>
        <h1>Gin_Index</h1>
        <h3 style="color:darkslateblue">Apache2+proxy+Gin</h3>
        <li><a class="contents_link" href="/">戻る</a></li>
    </body>

</html>